.contact-us{
	background-color: #F3F3F3;

	&__title{
		color: #333B46;
		font-family: "open sans";
		font-size: 20px;
		text-align: center;
		margin-bottom: 41px;
	}

	&__descriprion{
		color: #81868E;
		font-family: "open sans";
		font-size: 14px;
		width: 457px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 60px;

		@media (max-width: 768px){
			width: 80%;
		}
	}

	&__content{
		display: grid;

		@media(min-width: 1025px){
			grid-template-columns: 1fr 1fr 1fr;
		}

		@media(min-width: 769px)and(max-width: 1024px){
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-template-areas:
				"a1 a2"
				"a3 a3";

			.e-mail{
				grid-area: a1;
			}

			.our-office{
				grid-area: a2;
			}

			.phone{
				grid-area: a3;
			}
		}

		@media(max-width: 768px){
			grid-template-rows: 1fr 1fr 1fr;
		}

		& > *{
			height: 270px;
			padding: 10px;
			box-sizing: border-box;
		}

		.e-mail{
			.image{
				height: 50%;
				background-image: url(../image/contus1.jpg);
				background-size: cover;
			}

			.div12{
				height: 50%;
				padding-top: 30px;
				background-color: white;
				box-sizing: border-box;

				.text1{
					margin-bottom: 25px;
					font-family: "open sans";
					font-size: 20px;
					color: #464646;
					text-align: center;
				}

				.text2{
					color: #81868E;
					font-size: 16px;
					font-family: "open sans";
					text-align: center;
				}
			}
		}

		.our-office{
			.image{
				height: 50%;
				background-image: url(../image/contus2.jpg);
				background-size: cover;
			}

			.div22{
				height: 50%;
				padding-top: 30px;
				background-color: white;
				box-sizing: border-box;

				.text1{
					margin-bottom: 25px;
					font-family: "open sans";
					font-size: 20px;
					color: #464646;
					text-align: center;
				}

				.text2{
					color: #81868E;
					font-size: 16px;
					font-family: "open sans";
					text-align: center;
				}
			}
		}

		.phone{
			.image{
				height: 50%;
				background-image: url(../image/contus3.jpg);
				background-size: cover;
			}

			.div32{
				height: 50%;
				padding-top: 30px;
				background-color: white;
				box-sizing: border-box;

				.text1{
					margin-bottom: 25px;
					font-family: "open sans";
					font-size: 20px;
					color: #464646;
					text-align: center;
				}

				.text2{
					color: #81868E;
					font-size: 16px;
					font-family: "open sans";
					text-align: center;
				}
			}
		}
	}
}