.featured-project{
	padding-top: 50px;
	box-sizing: border-box;

	&__tittle{
		text-align: center;
		font-size: 20px;
		font-family: "myriad pro regular";
		color: #333B46;
		margin-bottom: 15px;
	}

	&__text{
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		width:457px;
		font-size: 14px;
		font-family: "open sans";
		color: #333B46;
		margin-bottom: 20px;

		@media (max-width: 768px){
			width: 80%;
		}
	}

	&__images{
		height: 318px;
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr;

		.image1{
			background-image:url(../image/vint1.jpg);
			background-size: cover;
			//width: 50%;
		}

		.image2{
			background-image:url(../image/vint2.png);
			background-size: cover;
			//width: 25%;
		}

		.image3{
			background-image:url(../image/vint3.png);
			background-size: cover;
			//width: 25%;
		}

		& > * > .text{
			color:white;
			text-align: center;
			line-height: 320px;
			font-size: 20px;
			font-family: "open sans";
		}
	}

	&__footer{
		background-image:url(../image/image-footer.jpg);
		background-size: cover;
	}

	&__f-inner{
		height: 116px;
		max-width: 1170px;
		padding-left: 50px;
		padding-right: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;

		@media (max-width: 800px){
			height: 166px;
			flex-direction: column;
		}
	}

	&__footer-text{
		width:50%;
		height: auto;
		color: white;
		font-size: 20px;
		font-family: "open sans";

		@media (max-width: 800px){
			width: 90%;
			text-align: center;
		}
	}

	&__footer-button{
		display: block;
		width:141px;
		height: 38px;
		border: solid white 1px;
		line-height: 38px;
		text-align: center;
		border-radius: 38px;
		color: white;
		font-size: 16px;
		font-family: "open sans";
		text-decoration: none;

		&:hover{
			background-color: white;
			color: #81868E;
			transition-property: background-color, color;
			transition-duration: 0.5s;
		}

		&:focus-visible{
			background-color: #B3DAE0;
			transition-duration: 0s;
		}

		&:active{
			padding: 5px;
			transition-property: padding;
			transition-duration: 0.5s;
		}

		@media (max-width: 800px){
			margin-right: 0px;
			margin-bottom: 20px;
		}
	}
}

