.hello{
	background: white url(../image/hello-background.jpg);
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding-top: 100px;
	box-sizing: border-box;
	

	&__tittle{
		text-align: center;
		font-size: 35px;
		font-family: "myriad pro regular";
		color: white;
		margin-bottom: 50px;
	}

	&__text{
		width: 604px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-bottom: 20vh;

		@media (max-width: 768px){
			width: 80%;
		}
	}

	&__pick{
		display: block;
		width: 37px;
		height: 37px;
		margin-right: auto;
		margin-left: auto;
		background-color: #19BD9A;
		border-radius: 37px;
		background-image: url(../image/pick.png);
		background-repeat: no-repeat;
		background-position-x: center;
		background-position-y: center;
		text-decoration: none;

		&:hover{
			width: 45px;
			height: 45px;
			transition-property: width, height;
			transition-duration: 0.5s;
		}

		&:focus-visible{
			background-color: #B3DAE0;
			transition-duration: 0s;
		}

		&:active{
			background-color: #099D7A;
			transition-property: background-color;
			transition-duration: 0s;
		}
	}

	@media (max-width: 550px){
		padding-top: 150px;
	}
}
