.our-services{
	background-color: #F3F3F3;
	padding-top: 60px;
	padding-bottom: 50px;
	box-sizing: border-box;


	&__title{
		text-align: center;
		font-size: 20px;
		font-family: "myriad pro regular";
		color: #333B46;
		margin-bottom: 20px;
	}

	&__text{
		text-align: center;
		font-size: 14px;
		font-family: "open sans";
		color: #333B46;
		margin-bottom: 30px;
		width: 40%;
		margin-left: auto;
		margin-right: auto;

		@media(max-width: 768px){
			width: 90%;
		}
	}
	

	.slider{
		width:90%;
		margin-right: auto;
		margin-left: auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.buttons{
			height: 294px;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			margin-right: 25px;

			*{
				width: 54px;
				height: 54px;
				background-color: #81868E;
				border-radius: 54px;
				background-repeat: no-repeat;
				background-position-x: center;
				background-position-y: center;
				cursor: pointer;
			}

			*:hover{
				background-color: #19BD9A;
			}

			.button1{
				background-image: url(../image/remont.png);
				background-color: #19BD9A;
			}

			.button2{
				background-image: url(../image/paint.png);
			}

			.button3{
				background-image: url(../image/joystick.png);
			}

			.button4{
				background-image: url(../image/electric.png);
			}
		}

		.swiper-container{

			.swiper-wrapper{

				.swiper-slide{
				}

				* h3{
					margin-bottom: 33px;
					font-size: 20px;
					font-family: "myriad pro regular";
					color: #464646;
				}

				* p{
					margin-bottom: 42px;
					font-size: 16px;
					font-family: "open sans";
					color: #81868E;
				}


				.slide1{
					display: flex;
					flex-direction: row;
					box-sizing: border-box;

					.text{
						width: 50%;

						.p1{
							margin-bottom: 42px;
							font-size: 16px;
							font-family: "open sans";
							color: #81868E;
							text-align: justify;
						}

						.p2{
							font-size: 14px;
							font-family: "open sans";
							color: #81868E;
							text-align: justify;
						}

						@media(max-width: 785px){
							width: 100%;
						}
					}

					.circles{
						width: 50%;
						max-width: 400px;
						height: 294px;
						padding-top: 47px;
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						margin-left: 20px;

						*{
							//width: 130px;
							height: 170px;
							max-width: 130px;
							min-width: 100px;
							//border:red;

							#circ1{
								height: 122px;
								margin-bottom: 20px;
							}

							#circ2{
								height: 122px;
								margin-bottom: 20px;
							}

							#circ3{
								height: 122px;
								margin-bottom: 20px;
							}

							div{
								color: #81868E;
								font-family: "myriad pro regular";
								font-size: 16px;
								text-align: center;
							}
						}
						@media(max-width: 785px){
							display: none;
						}
					}
				}

				.slide2{
				}

				.slide3{
				}

				.slide4{
				}
			}
		}
	}
}