.subscribe-us{
     background-image: url(../image/subscribe.jpg);
     padding-top: 80px;
     box-sizing: border-box;
     padding-bottom: 80px;

     &__title{
          margin-bottom: 40px;
          font-family: "open sans";
          color: white;
          font-size: 20px;
          text-align: center;
     }

     &__description{
          margin-bottom: 60px;
          width: 40%;
          font-family: "open sans";
          color: #81868E;
          font-size: 14px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;

          @media(max-width: 600px){
               width: 90%;
          }
     }

     form{
          width: 40%;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          height: 50px;

          @media(max-width: 500px){
               flex-direction: column;
               align-items: center;
               height: 60px;
               width: 60%;
          }

          input[type=text]{
               margin-right: 15px;
               border: solid 1px white;
               width: 60%;
               background-color: rgba(0, 0, 0, 0);
               color: #CFD3D4;
               text-align: center;
               font-size: 17px;

               @media(max-width: 500px){
                    margin-right: 0px;
                    width: 90%;
               }
          }

          input[type=submit]{
               width: 50%;
               background-color: #19BD9A;
               border: solid 1px #19BD9A;
               color: white;

               &:hover{
                    background-color: #099D7A;
                    transition-property: background-color;
                    transition-duration: 0.5s;
               }

               &:focus-visible{
                    background-color:#B3DAE0; 
               }
          }
     }
}
