.the-portfolio{
	background-color: #F3F3F3;

	&__title{
		margin-bottom: 40px;
		text-align: center;
		font-size: 20px;
		font-family: "myriad pro regular";
		color: #333B46;
	}

	&__description{
		margin-bottom: 80px;
		width: 457px;
		text-align: center;
		font-size: 14px;
		font-family: "open sans";
		margin-left: auto;
		margin-right: auto;
		color: #81868E;

		@media (max-width: 768px){
			width: 80%;
		}
	}

	&__masonry{
		@media (max-width: 480px) {
			column-count: 1;
		}
		@media (min-width: 481px) and (max-width: 620px) {
			column-count: 2;
		}
		@media (min-width: 621px) and (max-width: 1023px) {
			column-count: 3;
		}
		@media (min-width: 1024px) {
			column-count: 4;
		}
		column-gap: 15px;
		width: 90%;
		margin: 0 auto;

		.grid-item{
			margin: 8px 0;
			display: inline-block;
			width: 100%;
			text-align: center;

			img{
				max-width: 100%;
				height: auto;
			}

		}
	}

	&__footer{
		width: 90%;
		height: 200px;
		background-image: url(../image/port-foot.jpg);
		background-position-x: center;
		margin-left: auto;
		margin-right: auto;
		padding-top: 60px;
		box-sizing: border-box;
		background-size: cover;

		@media(max-width: 768px){
			width: 100%;
		}
	}

	&__footer-text{
		text-align: center;
		margin-bottom: 27px;
		font-size: 20px;
		font-family: "open sans";
		color: white;
	}

	&__footer-button{
		display: block;
		width: 141px;
		height: 38px;
		border: solid 1px white;
		border-radius: 38px;
		text-align: center;
		line-height: 38px;
		margin-left: auto;
		margin-right: auto;
		font-size: 16px;
		font-family: "open sans";
		color: white;
		text-decoration: none;

		&:hover{
			background-color: white;
			color: #81868E;
			transition-property: background-color, color;
			transition-duration: 0.5s;
		}

		&:focus-visible{
			background-color: #B3DAE0;
			transition-duration: 0s;
		}

		&:active{
			padding: 5px;
			transition-property: padding;
			transition-duration: 0.5s;
		}
	}
}
