.the-team{

	.tittle{
		text-align: center;
		margin-bottom: 40px;
	}

	.text{
		text-align: center;
		margin-bottom: 60px;

		@media(max-width: 768px){
			margin-bottom: 30px;
		}
	}

	.swiper-container{
		width: 70%;
		margin: 0 auto;

		@media(max-width: 1000px){
			width: 90%;
		}

		@media(max-width: 500px){
			width: 90%;
		}

		.swiper-wrapper{

			.swiper-slide{

				@media(max-width: 768px){

					.photo{
						display: none;
					}
					.features{
						margin: 0px auto;
					}
				}
			}

			& > *{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				

				.photo{
					max-width: 100%;
					height: auto;
				}



				.features{
					text-align: right;
					margin-top: 28px;
					height: 308px;
					padding-right: 10px;
					
					.name{
						margin-bottom: 10px;
						color: #464646;
						font-size: 20px;
						font-family: "open sans";
						text-align: right;
					}

					.position{
						margin-bottom: 15px;
						color: #81868E;
						font-size: 14px;
						font-family: "myriad pro regular";
						text-align: right;
						font-style: italic;
					}    

					.description{
						margin-bottom: 20px;
						color: #81868E;
						font-size: 14px;
						font-family: "open sans";
						text-align: right;
						margin-bottom: 48px;
					}

					.branding{
						position: relative;
						width: 60%;
						height: 25px;
						margin-bottom: 35px;
						margin-left: auto;
  						margin-right: 0;

						.label{
							float: left;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.percent{
							float: right;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.progress{
							position: absolute;
							width: 100%;
							height: 5px;
							background-color: #E1E4E9;
							bottom: 0px;    

							.progress2{
								//width: 80%;
								height: 100%;
								background-color: #19BD9A;
							}
						}
					}    

					.web-design{
						position: relative;
						width: 60%;
						height: 25px;
						margin-bottom: 35px;
						margin-left: auto;
  						margin-right: 0;

						.label{
							float: left;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.percent{
							float: right;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.progress{
							position: absolute;
							width: 100%;
							height: 5px;
							background-color: #E1E4E9;
							bottom: 0px;    

							.progress2{
								//width: 65%;
								height: 100%;
								background-color: #19BD9A;
							}
						}
					}    

					.user-interface{
						position: relative;
						width: 60%;
						height: 25px;
						margin-bottom: 35px;
						margin-left: auto;
  						margin-right: 0;

						.label{
							float: left;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.percent{
							float: right;
							color: #81868E;
							font-size: 16px;
							font-family: "open sans";
						}

						.progress{
							position: absolute;
							width: 100%;
							height: 5px;
							background-color: #E1E4E9;
							bottom: 0px;    

							.progress2{
								//width: 75%;
								height: 100%;
								background-color: #19BD9A;
							}
						}
					}
					.feat1, .feat2, .feat3{
						@media(max-width: 768px){
							width: 100%;
						}
					}
				}
			}

			.slide1{
				.branding .progress2{
					width: 80%;
				}

				.web-design .progress2{
					width: 65%;
				}

				.user-interface .progress2{
					width: 75%;
				}
			}

			.slide2{
				.branding .progress2{
					width: 50%;
				}

				.web-design .progress2{
					width: 75%;
				}

				.user-interface .progress2{
					width: 80%;
				}
			}

			.slide3{
				.branding .progress2{
					width: 90%;
				}

				.web-design .progress2{
					width: 65%;
				}

				.user-interface .progress2{
					width: 80%;
				}
			}
		}
	}

	.buttons{
		width: 55px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 50px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.button1{
			width: 11px;
			height: 11px;
			border: solid 1px #19BD9A;
			background-color: #19BD9A;
			border-radius: 11px;
			cursor: pointer;
		}

		.button2{
			width: 11px;
			height: 11px;
			border: solid 1px #19BD9A;
			border-radius: 11px;
			cursor: pointer;
		}

		.button3{
			width: 11px;
			height: 11px;
			border: solid 1px #19BD9A;
			border-radius: 11px;
			cursor: pointer;
		}
	}

	.footer{
		height: 200px;
		background-image: url("../image/team-footer.jpg");
		background-size: cover;
		padding-top: 60px;
		box-sizing: border-box;

		.text1{
			margin-bottom: 27px;
			text-align: center;
			color: white;
			font-size: 20px;
			font-family: "open sans";
		}

		.text2{
			display: block;
			width: 141px;
			height: 38px;
			border: solid 1px white;
			border-radius: 38px;
			text-align: center;
			line-height: 38px;
			margin-left: auto;
			margin-right: auto;
			color: white;
			font-size: 16px;
			font-family: "open sans";
			text-decoration: none;

			&:hover{
				background-color: white;
				color: black;
				transition-property: background-color, color;
				transition-duration: 0.5s;
			}

			&:focus-visible{
				background-color: #B3DAE0;
				transition-duration: 0s;
			}

			&:active{
				background-color: gray;
				transition-property: background-color;
				transition-duration: 0s;
			}
		}
	}
}
